{% extends "Navbar.html" %}
{% block body %}
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Digital Insight is a tech blog company that provides news, analysis, and commentary on the latest developments in the tech industry.Digital Insight covers a wide range of topics within the tech industry, including personal computers, mobile devices, software, gaming, and more.</p>
                        <p> The company's team of experienced writers and editors work to provide in-depth analysis of new technologies and products, as well as commentary on the wider trends and issues affecting the tech industry.</p>
                        <p>Overall, Digital Insight is a respected and influential tech blog company that is dedicated to providing high-quality information and analysis to the tech community.</p>
                    </div>
                </div>
            </div>
        </main>
        {%endblock%}
