{% extends "Navbar.html" %}
{% block body %}
        <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post[0]}}</h1>
                            <h2 class="subheading">{{post[1]}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post[11]}}</a>
                                on {{datee}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">{{post[2]}}</h2>
                        <p>
                            {{post[3]}}
                        </p>
                        <h2 class="section-heading">{{post[4]}}</h2>
                        <p>
                            {{post[5]}}
                        </p>
                        <h2 class="section-heading">{{post[6]}}</h2>
                        <p>
                            {{post[7]}}
                        </p>

                    </div>
                </div>
            </div>
        </article>
        {%endblock%}
